html {
    font-size: 16px; 
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: var(--main-bg-gradient);
    color: var(--colors-main-text);
    padding: 1rem;
    margin: 0;
    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    touch-action: manipulation; 
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}